@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin-top: 200px;
    text-align: center;
    
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 120px;
}

.container h3{
    font-size: 24px;
}

.container h3 a{
    text-decoration: none;
    color: rgb(108 99 255);
}

.astronaut{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}