<!--FLASK TEMPLATE BY LATIF YILMAZ-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask - Template</title>

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('static', filename='favicon.ico') }}'/>

    <!--Lottie Files-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <div class="error">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_g3epl9yu.json"  background="transparent"  speed="1"  style="width: 600px; height: 600px;"    autoplay></lottie-player>
    </div>

</body>
</html>